<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.global.js"></script>
    <style>
        .card {
            width: 40px;
            height: 30px;
        }
    </style>
</head>
<body>
   <div class="shahin">
    <input type="text" name="" id="" v-model="bgColo">
    <input type="text" name="" id="" v-model="texColor">
    <input type="color" name="" id=""v-model="bgColo">
<div class="card"  :style="{backgroundColor: bgColo,color:texColor,}">
color
</div>
   </div> 

    <script src="Shahin.js"></script>
</body>
</html>